@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$colorPrimario: #87a0c4;
$colorSecundario: #0f4189;
$colorTerciario: #ff793f;
$colorNegro: #343839;
$colorBlanco: #FCFDFE;
$colorGris: #838383;
$colorGris2: #3b3b3b;

$fontTitulos: 'Roboto', sans-serif;
$fontCuerpo: 'Noto Sans', sans-serif;